@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
}
.primary-button {
  margin-top: 10px;
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #8a3ffc, #844bda);
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 7px 0 #7126e2;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #7d5bb0;
}
.view-button {
  margin-top: 10px;
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #1a153f, #1a153f);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 7px 0 #1a153f;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-button img {
  margin-left: 10px;
}
.view-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #7d5bb0;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #8a3ffc;
}
ul > a {
  text-decoration: none;
  margin: 10px 30px 10px 0;
  padding: 10px 20px;
  color: whitesmoke;
  font-weight: 600;
}
ul > a:hover {
  padding: 10px 20px;
  background-color: #595295;
  border-radius: 10px;
  box-shadow: -1px 10px 13px 0px rgba(255, 248, 248, 0.3);
  -webkit-box-shadow: -1px 10px 13px 0px rgba(255, 248, 248, 0.3);
  -moz-box-shadow: -1px 10px 13px 0px rgba(255, 248, 248, 0.3);
}
.banner {
  padding: 0 5rem 0 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  background: #1a153f;
  color: whitesmoke;
}
.banner .banner-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -5rem;
}
.banner .banner-left p {
  margin: 20px 0 10px 0;
}
.banner .banner-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner-right img {
  width: 22rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 5rem;
  background-image: url(../Images/blob.svg);
  background-repeat: no-repeat;
}
.feature {
  margin-top: -6rem;
  background-color: #7126e2;
  padding-bottom: 1px;
}
.feature-title {
  text-align: center;
  color: whitesmoke;
}
.feature .title {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  border-bottom: 3px solid whitesmoke;
  margin-bottom: 15px;
  padding-top: 2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
.feature-method {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 2%;
  box-shadow: 2px 7px 13px 7px rgba(255, 255, 255, 0.38);
  -webkit-box-shadow: 2px 7px 13px 7px rgba(255, 255, 255, 0.38);
  -moz-box-shadow: 2px 7px 13px 7px rgba(255, 255, 255, 0.38);
}
.feature-method > img {
  background-color: #8a3ffc;
  padding: 10px;
  width: 20%;
  border-radius: 50%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.feature-method h5 {
  margin-bottom: 10px;
}
.feature-method p {
  font-size: 14px;
  font-weight: 600;
}
.about {
  padding: 0 5rem 0 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  background: #1a153f;
  color: whitesmoke;
}
.about .about-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -7rem;
}
.about .banner-left p {
  margin: 20px 0 10px 0;
}
.about .about-right {
  width: 50%;
  margin-top: 2rem;
}
.about-right > p {
  margin: 10px 0;
}
.about .about-right img {
  width: 22rem;
  margin-top: -20px;
  margin-bottom: 3rem;
  margin-left: 5rem;
  background-image: url(../Images/blob.svg);
  background-repeat: no-repeat;
}
.about-text {
  background-color: #1a153f;
  list-style-type: square;
  display: block;
}
.about-text > li {
  margin-left: 15px;
  margin-top: 6px;
}
.subscriber {
  background-color: #7126e2;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: -5rem;
  padding: 50px 0;
}
.subscriber h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.landing {
  padding: 0 5rem 0 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  background: #1a153f;
  color: whitesmoke;
}
.landing .landing-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landing .landing-left p {
  margin: 20px 0 10px 0;
}
.landing .landing-right {
  width: 50%;
  margin-top: 5rem;
}
.landing-right > p {
  margin: 10px 0;
}
.landing .landing-right img {
  width: 22rem;
  margin-top: -20px;
  margin-bottom: 3rem;
  margin-left: 1rem;
  background-image: url(../Images/blob.svg);
  background-repeat: no-repeat;
}
.landing-text {
  background-color: #1a153f;
  list-style-type: square;
  display: block;
}
.messages {
  background-color: hsl(264, 76%, 52%);
  color: whitesmoke;
  padding-bottom: 40px;
}
.messages > h1 {
  text-align: center;
  padding: 40px 0 20px 0;
}
.msg-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg-options > button {
  margin-left: 10px;
  margin-top: -5px;
}
.messages input[type="text"] {
  width: 20rem;
  height: 2rem;
  border: 1px solid rgb(37, 35, 35);
}
.submit-button {
  outline: 0;
  border: 0;
  padding: 7px 15px;
  background-image: linear-gradient(90deg, #1a153f, #1a153f);
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 7px 0 #1a153f;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.submit-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #7d5bb0;
}
