@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
}
.primary-button {
  margin-top: 10px;
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #8a3ffc, #844bda);
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 7px 0 #7126e2;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #7d5bb0;
}
.view-button {
  margin-top: 10px;
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #1a153f, #1a153f);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 7px 0 #1a153f;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-button img {
  margin-left: 10px;
}
.view-button:active {
  top: 5px;
  box-shadow: 0 1px 0 #7d5bb0;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #8a3ffc;
}
header > a {
  text-decoration: none;
  margin: 10px 30px 10px 0;
  padding: 10px 20px;
  color: whitesmoke;
  font-weight: 600;
}
header > a:hover {
  padding: 10px 20px;
  background-color: #595295;
  border-radius: 10px;
  box-shadow: -1px 10px 13px 0px rgba(255, 248, 248, 0.3);
  -webkit-box-shadow: -1px 10px 13px 0px rgba(255, 248, 248, 0.3);
  -moz-box-shadow: -1px 10px 13px 0px rgba(255, 248, 248, 0.3);
}
.banner {
  padding: 0 5rem 0 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  background: #1a153f;
  color: whitesmoke;
}
.banner .banner-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner .banner-left p {
  margin: 20px 0 10px 0;
}
.banner .banner-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner-right img {
  width: 22rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 5rem;
  background-image: url(../Images/blob.svg);
  background-repeat: no-repeat;
}
.feature {
  margin-top: -6rem;
  background-color: #7126e2;
  padding-bottom: 1px;
}
.feature-title {
  text-align: center;
  color: whitesmoke;
}
.feature .title {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  border-bottom: 3px solid whitesmoke;
  margin-bottom: 15px;
  padding-top: 2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
.feature-method {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 2%;
  box-shadow: 2px 7px 13px 7px rgba(255, 255, 255, 0.38);
  -webkit-box-shadow: 2px 7px 13px 7px rgba(255, 255, 255, 0.38);
  -moz-box-shadow: 2px 7px 13px 7px rgba(255, 255, 255, 0.38);
}
.feature-method > img {
  background-color: #8a3ffc;
  padding: 10px;
  width: 20%;
  border-radius: 50%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.feature-method h5 {
  margin-bottom: 10px;
}
.feature-method p {
  font-size: 14px;
  font-weight: 600;
}
.about {
  padding: 0 5rem 0 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  background: #1a153f;
  color: whitesmoke;
}
.about .about-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -7rem;
}
.about .banner-left p {
  margin: 20px 0 10px 0;
}
.about .about-right {
  width: 50%;
  margin-top: 2rem;
}
.about-right > p {
  margin: 10px 0;
}
.about .about-right img {
  width: 22rem;
  margin-top: -20px;
  margin-bottom: 3rem;
  margin-left: 5rem;
  background-image: url(../Images/blob.svg);
  background-repeat: no-repeat;
}
.about-text {
  background-color: #1a153f;
  list-style-type: square;
  display: block;
}
.about-text > li {
  margin-left: 15px;
  margin-top: 6px;
}
.subscriber {
  background-color: #7126e2;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: -5rem;
  padding: 50px 0;
}
.subscriber h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.landing {
  padding: 0 5rem 0 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  background: #1a153f;
  color: whitesmoke;
}
.landing .landing-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landing .landing-left p {
  margin: 20px 0 10px 0;
}
.landing .landing-right {
  width: 50%;
  margin-top: 5rem;
}
.landing-right > p {
  margin: 10px 0;
}
.landing .landing-right img {
  width: 22rem;
  margin-top: -20px;
  margin-bottom: 3rem;
  margin-left: 1rem;
  background-image: url(../Images/blob.svg);
  background-repeat: no-repeat;
}
.landing-text {
  background-color: #1a153f;
  list-style-type: square;
  display: block;
}
.messages {
  background-color: hsl(264, 76%, 52%);
  color: whitesmoke;
  padding-bottom: 40px;
  margin-top: -5rem;
}
.messages > h1 {
  text-align: center;
  padding: 40px 0 20px 0;
}
.msg-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg-options > button {
  margin-left: 10px;
  margin-top: -5px;
}
.messages input[type="text"] {
  width: 20rem;
  height: 2rem;
  border: 1px solid rgb(37, 35, 35);
}
.submit-button {
  outline: 0;
  border: 0;
  padding: 7px 15px;
  background-image: linear-gradient(90deg, #1a153f, #1a153f);
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 7px 0 #1a153f;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.submit-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #7d5bb0;
}
footer {
  background-color: #1a153f;
  color: whitesmoke;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}
footer > p > span {
  color: #7126e2;
  font-weight: bold;
}

/* Mobile screen */
@media only screen and (max-width: 480px) and (min-width: 0px) {
  header {
    padding: 20px 0;
  }
  header a {
    width: 100%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 1px;
  }
  header a:hover {
    background-color: #9a6ae2;
    transition: 0.8s all;
    border-radius: 20px;
    box-shadow: none;
  }
  .banner {
    padding: 15px;
    width: 100%;
    display: block;
    margin-bottom: 5rem;
    background: #1a153f;
    color: whitesmoke;
  }
  .banner .banner-left {
    width: 100%;
  }
  .banner .banner-left h1 {
    font-size: 20px;
  }
  .banner .banner-left p {
    font-size: 15px;
  }
  .banner .banner-left .primary-button {
    margin-top: 5px;
    outline: 0;
    border: 0;
    padding: 7px 10px;
    background-image: linear-gradient(90deg, #8a3ffc, #844bda);
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .banner .banner-right {
    width: 100%;
  }
  .banner .banner-right img {
    width: 16rem;
    margin: 1rem 0;
    background-image: url(../Images/blob.svg);
    background-repeat: no-repeat;
  }
  .feature {
    margin-top: -6rem;
    background-color: #7126e2;
    padding-bottom: 1px;
  }
  .feature-title {
    text-align: center;
    color: whitesmoke;
  }
  .feature .feature-title p {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid whitesmoke;
  }
  .feature .feature-title h1 {
    font-size: 15px;
    font-weight: bold;
    margin-top: -10px;
  }
  .features {
    display: grid;
    grid-template-columns: 90%;
    place-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 90px;
  }
  .feature-method {
    background-color: whitesmoke;
    border-radius: 2%;
    box-shadow: 0 0 20px lightgray;
    margin-bottom: 8px;
  }
  .feature-method > img {
    background-color: #8a3ffc;
    padding: 7px;
    width: 15%;
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .feature-method h5 {
    margin-bottom: 10px;
  }
  .feature-method p {
    font-size: 14px;
    font-weight: 600;
  }
  .view-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    outline: 0;
    border: 0;
    padding: 7px 10px;
    background-image: linear-gradient(45deg, #8a3ffc, #844bda);
    font-size: 12px;
    text-transform: uppercase;
  }
  .about {
    display: block;
    margin-bottom: 5rem;
    background: #1a153f;
    color: whitesmoke;
  }

  .about .about-left img {
    margin-top: 30px;
    margin-left: -30px;
    width: 250%;
    border-bottom: 1px solid whitesmoke;
  }
  .about-title .about .about-right {
    width: 175%;
    margin-left: -90px;
    margin-right: 10px;
    padding-right: 20px;
  }
  .about .about-right h1 {
    font-size: 20px;
  }
  .about-title .about .about-right > p {
    font-size: 12px;
  }
  .about .about-right img {
    width: 22rem;
    margin-top: -20px;
    margin-bottom: 3rem;
    margin-left: 5rem;
    background-image: url(../Images/blob.svg);
    background-repeat: no-repeat;
  }
  .about-text {
    background-color: #1a153f;
    list-style-type: square;
    display: block;
    width: 80%;
    font-size: 12px;
  }
  .about-text > li {
    margin-left: 15px;
    margin-top: 6px;
  }
  .about .about-right {
    padding: 10px 0;
    width: 100%;
  }
  .about .about-right p {
    font-size: 15px;
  }
  .primary-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    outline: 0;
    border: 0;
    padding: 7px 10px;
    background-image: linear-gradient(45deg, #8a3ffc, #844bda);
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .subscriber {
    padding: 20px 0;
  }
  .subscriber h1 {
    font-size: 23px;
  }
  .subscriber h5 {
    font-size: 12px;
  }
  .landing {
    width: 100%;
    display: block;
    margin-bottom: 5rem;
    background: #1a153f;
    color: whitesmoke;
    padding-bottom: 8px;
  }
  .landing .landing-left img {
    border-bottom: 1px solid gainsboro;
    margin-left: -90px;
    width: 350%;
  }
  .landing .landing-right {
    width: 172%;
    margin-top: 2rem;
    margin-left: -90px;
  }
  .landing .landing-right h1 {
    font-size: 20px;
  }
  .landing-right > p {
    font-size: 12px;
    margin: 10px 0;
  }
  .landing-text {
    background-color: #1a153f;
    list-style-type: square;
    display: block;
  }
  .messages {
    background-color: hsl(264, 76%, 52%);
    color: whitesmoke;
    padding-bottom: 40px;
    margin-top: -5rem;
  }
  .messages > h1 {
    font-size: 16px;
    text-align: center;
    padding: 40px 0 20px 0;
  }
  .msg-options {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .msg-options > button {
    font-size: 12px;
    margin-left: 10px;
    margin-top: -5px;
  }
  .messages input[type="text"] {
    width: 15rem;
    height: 1.5rem;
    border: 1px solid rgb(37, 35, 35);
  }
  footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* iPads, Tablets */
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  /* small screens, laptops */
}
